# Python
# Archivos de caché de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Archivos de entornos virtuales
venv/
.venv/
env/
*.env

# Base de datos local de Django
db.sqlite3

# Archivos de static y media que Django pueda generar localmente
/static_root/
/media_root/

# Logs
*.log

# Archivos de configuración de IDEs (opcional, pero recomendado)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace